.flashy {
  color: red;
  font-style: italic;
}

.soft {
  color: gray;
  font-size: 20px;
  line-height 50px;
  text-align: center;
}

#cupcake {
  color: pink;
  background-color: black;
  font-style: bold;
  font-size: 50px;
  line-height: 70px;
  text-align: center;
}

img {
  display: block;
  margin: auto;
}

#best {
  text-align: center;
  color: silver;
  background-color: gold;
}